@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);

* {
	padding:     0;
	margin:      0;
	font-family: "Source Sans Pro", Arial, serif;
	font-size:   15px;
	color:       black;
}

body {
	margin-top:       0;
	background-image: url(../gfx/background.png);
}

h1{
	font-size: 25px;
	padding: 10px;
	margin: 10px;
}

.box{
	border-radius: 5px;
	border: 1px solid #dadada;
	background-image: linear-gradient(0deg, #f1f1f1, #fbfbfb);
	padding: 10px;
	margin: 10px;
}

#create p{
	padding-bottom: 5px;
}